<a href="https://colab.research.google.com/github/MEGHAGITHUBTEST/Project/blob/main/PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
EDA (HOTEL BOOKING ANYLYSIS)

PROJECT SUMMARY :- 

We are provided with a hotel bookings dataset.

Our main objective is to perform EDA on the given dataset and draw useful conclusions about general trends in hotel bookings and how factors governing hotel bookings interact with each other.

Dataset:-
We have been given a 'hotel booking' dataset. This dataset contains booking information for a city hotel and a resort hotel. It contains different features like :-
1 hotel
2 is_canceled
3 lead_time
4 arrival_date_year
5 arrival_date_month
6 arrival_date_week_number 
7 arrival_date_day_of_month 
8 stays_in_weekend_nights 
9 stays_in_week_nights 
10  adults 
11 children 
12 babies 
13 meal 
14 country 
15 market_segment 
16 distribution_channel 
17 is_repeated_guest 
18 company

It contains 119390 rows and 32  columns.

Data Cleaning :-

1  Handling null values

 Null values in columns were replaced by 0 or mean or mode, as required.